.heading2Xl {
    color: #ece7e7;
    font-size: calc(1em + 3vw);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 4rem 0 1.5rem 0;
    padding: 30px 0 30px 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    color: #faf6f6;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 1rem 0;
    text-align: center;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 2rem;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding2rem {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 4rem;
    padding: 2rem;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 1.25rem;
    text-align: center;
  }
  
  .lightText {
    color: #666;
  }

  .backToHome {
    text-align: center;
  }

  .zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  